{% load staticfiles %}

<html>
    <head>
        <meta charset= "utf-8">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link href="{% static 'ntlspace/css/sticky-footer.css' %}" rel="stylesheet">
        
        <script src="{% static 'main/js/modal.js' %}"></script>
        <script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">NTL Space</a>
                </div>
            </div>
        </div>
        
        <div class = "row" style="margin-top: 80;">
            <div class = "col-md-offset-2 col-md-8 well">
                <form class="form-horizontal" action = "." method = "post">
                    {% csrf_token %}
                    {{ user_form.as_p }} 
                    {{ profile_form.as_p }}             
                    
                    <div style="text-align: right;"><input class="btn btn-success" type = "submit" name = "register_button" value = "Зарегистрироваться"></div>
                </form>
            </div>
        </div>
    </body>
</html>
